<div class="article-container">
  <div class="title">
    <blockquote>
      <h6>{{title}}</h6>
    </blockquote>
  </div>
  <div class="link">
    <a href={{url}} target="_blank">View</a>
  </div>
</div>