<div class="comment-container">

  <div class="comment">
    <a class="del" data-id="{{id}}" href="#">x</a>
    <p>{{message}}</p>
  </div>

  <div class="username">
    <p>^{{user}}</p>
  </div>

</div>