{{!-- {{#each comment}} --}}
<div class="comment-container">


  <div class="comment">
    <p>{{message}}</p>
  </div>

  <div class="username">
    <p>^{{user}}</p>
  </div>
</div>
{{!-- {{/each}} --}}