<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Bunjarra</title>
</head>

<body>
  <div class="container">
    {{> nav-block}}
    <div class="hero-section z-depth-2">
      <div class="caption center-align">
        <h3>Welcom to Bunjarra!</h3>

        <h5 id="fade-1" class="slow-fade light grey-text text-lighten-3">Bunjarra is an onion paste made for flavoring
          food.</h5>
        <h5 id="fade-2" class="slow-fade light grey-text text-lighten-3">We're about to <b>scrape</b> "The Onion".</h5>
        <h5 id="fade-3" class="slow-fade light grey-text text-lighten-3">Get it...</h5>
        <h5 id="fade-4" class="slow-fade light grey-text text-lighten-3">Onion paste...</h5>

      </div>
    </div>
    {{{body}}}
    {{> modal-block}}
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="app.js"></script>
</body>

</html>